
@font-face {
    font-family: 'Magneton';
    src: url('/src/assets/Magneton-Regular.otf');
    /* Additional font properties (e.g., font-weight, font-style) if needed */
}
@font-face {
    font-family: 'Milkstore';
    src: url('/src/assets/Milkstore02-Clean.otf');
    /* Additional font properties (e.g., font-weight, font-style) if needed */
}
@font-face {
    font-family: 'Milkstore04';
    src: url('/src/assets/Milkstore04-Clean.otf');
    /* Additional font properties (e.g., font-weight, font-style) if needed */
}